# Dependencies
node_modules/
.pnp
.pnp.js

# Testing & Coverage
coverage/

# Production Builds
dist/
build/
*.tsbuildinfo
.vercel/

# Environment & Secrets
.env
.env.local
.env.production
.env.staging

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
